@model DogRallyMVC.Models.TrackExerciseViewModelDTO

@{
    ViewData["Title"] = "CreateTrack";
}

<h1>Ringormbane</h1>




<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTrack">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Inputfelter til bane -->
            <div class="form-group">
                <label asp-for="@Model.Track.TrackName" class="control-label"></label>
                <input asp-for="@Model.Track.TrackName" class="form-control" />
                <span asp-validation-for="@Model.Track.TrackName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Track.TrackDate" class="control-label"></label>
                <input asp-for="@Model.Track.TrackDate" class="form-control" />
                <span asp-validation-for="@Model.Track.TrackDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Track.TrackID" class="control-label"></label>
                <input asp-for="@Model.Track.TrackID" class="form-control" />
                <span asp-validation-for="@Model.Track.TrackID" class="text-danger"></span>
            </div>

            <!-- Inputfelter til hver øvelse -->
            @for (int i = 0; i < Model.Exercises.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="Exercises[i].ExerciseID" class="control-label"></label>
                    <input asp-for="Exercises[i].ExerciseID" class="form-control" />
                    <span asp-validation-for="Exercises[i].ExerciseIllustrationPath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Exercises[i].ExerciseID" />
                    <label asp-for="Exercises[i].PositionX" class="control-label"></label>
                    <input asp-for="Exercises[i].PositionX" class="form-control" />
                    <span asp-validation-for="Exercises[i].PositionX" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Exercises[i].PositionY" class="control-label"></label>
                    <input asp-for="Exercises[i].PositionY" class="form-control" />
                    <span asp-validation-for="Exercises[i].PositionY" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Exercises[i].ExerciseIllustrationPath" class="control-label"></label>
                    <input asp-for="Exercises[i].ExerciseIllustrationPath" class="form-control" />
                    <span asp-validation-for="Exercises[i].ExerciseIllustrationPath" class="text-danger"></span>
                </div>
            }
            <!-- Submit-knap -->
            <div class="form-group">
                <input type="submit" value="Opret svinet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>






<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
